<%- include('partials/header',{dev:''}) %> <%- include('partials/navbar') %>
<h1>Homepage</h1>
<h3><%= 'Hello World'.toUpperCase() %></h3>
<p>20 + 6 = <%= 20 + 6 %></p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi
  reprehenderit dicta dignissimos. Nulla dolorem quis officiis, ad, voluptatum
  nemo animi expedita dignissimos, voluptas incidunt quod. Dolorum laudantium
  repellat nostrum.
</p>
<%- include('partials/footer') %>
