<%- include('partials/header',{dev:'react'}) %> <%- include('partials/navbar')
%> <% if (data.img) { %>
<img src="<%= data.img %>" alt="" />
<%}%>
<h1><%= data.title %> page</h1>
<h3>Followers <%= data.followers %></h3>
<h3><%= data.description %></h3>
<hr />
<%for(let post of data.posts) {%>
<article>
  <p><%= post.title%> - <%= post.author%></p>
</article>
<%}%> <%- include('partials/footer') %>
