<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.title %> - Dev</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">EJS</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/t/react">React</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rand">random</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <% if (data.img) { %>
    <img src="<%= data.img %>" alt="" />
    <%}%>
    <h1><%= data.title %> page</h1>
    <h3>Followers <%= data.followers %></h3>
    <h3><%= data.description %></h3>
    <hr />
    <%for(let post of data.posts) {%>
    <article>
      <p><%= post.title%> - <%= post.author%></p>
    </article>
    <%}%>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
